# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Windows\Downloads\UNIVERSIDAD\ULTIMO SEMESTRE\IETI\Labs\2.2-spring-boot-secure-api-react\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
